/* .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
 } */

a {
  color: white !important;
  text-decoration: none !important;
}

.aTag {
  color: #fdd535 !important;
  text-decoration: none !important;
}
i {
  font-size: 17px !important;
}

.footer .social a {
  color: #fdd535 !important;
}

.footer {
  background-color: #fdd535;
  height: 120px !important;
  margin: 0 auto;
  width: 100%;
}
