dt { 
    font-size: 20px; 
    color: black; 
    font-weight: bold; 
    text-align: left;
  }
  dl {
    border-bottom:1px solid #ccc;
    margin-top: 12px;
    padding-top: 8px;
  }
  dt a {
    color: black; 
  }
  dd {
  /*    padding-left: 12px;*/
      text-align: left;
      margin-top: 3%; 
    display: none;
  }
  .collpse-content {
    cursor: pointer;
  }
  .page-title {
    text-align: left;
  }
  .sub-title {
    text-align: left;
    color:#fdd535; 
  }
  .main-content {
    text-align: justify;
  }
  .box-content span {
    display: block;
      margin-top: 12px;
  }.box-content  {
    text-align: left;
  }
  #team {
  /*   max-width: 96rem;*/
      width: 100%;
      min-height: 200px;
      height: auto;
      box-sizing: border-box;
      padding: 0;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: flex-end;
  
  }
  #team img {
    width:25.5rem;
    height:25.5rem;
    display:block;
    margin:0.5rem 1rem 4rem 0.5rem;
    padding:0;
    box-sizing:content-box;
    color:black;
  }
  #team1 img {
    width:16.5rem!important;
    height:16.5rem!important;
    display:block;
    margin:0.5rem 1rem 4rem 0.5rem;
    padding:0;
    box-sizing:content-box;
    color:black;
  }
  #team1 figcaption {
    font-size:14px;
    text-align:center;
  }
  #team2 img {
    width:16.5rem!important;
    height:16.5rem!important;
    display:block;
    margin:0.5rem 1rem 4rem 0.5rem;
    padding:0;
    box-sizing:content-box;
    color:black;
  }
  #team2 figcaption {
    font-size:14px;
    text-align:left;
  }
  figure img {
    -webkit-border-radius:50%;
    -moz-border-radius:50%;  
    border-radius:50%; 
  }
  #team figure img {
    -webkit-transition:opacity 0.26s ease-out;   
    -moz-transition:opacity 0.26s ease-out;   
    -ms-transition:opacity 0.26s ease-out;   
    -o-transition:opacity 0.26s ease-out;   
    transition:opacity 0.26s ease-out;    
  }
  #team:hover img, #team:active img {
    opacity:0.3;
  }
  #team:hover img:hover, #team:active img:active {
    opacity:1;
  }
  figcaption {
    font-size:2rem;
    text-align:center;
  }
  .client-logo {
    margin-bottom: 20px;
  }
  .client-logo img {
        filter: grayscale(100%);
  }
  .short-links-cont i {
    padding-left: 12px;
  }
  .short-links-cont a {
    font-size: 20px;
      color: black;
  }
  .short-links-cont a:hover {
      color: #fdd535;
  }
  .short-links-cont {
      margin-top: 20px;
      margin-bottom: 20px;
  }
  .short-links {
    background-color:#f8f8f8;
    padding-top: 50px;
      padding-bottom: 50px;
  }
  .heading {
    margin-bottom: 20px;
  }
  .content-item {
    /* background: url(../img/banner-img.jpg); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    height: 200px;
    margin: 20px auto;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  .content-item .overlay {
    border-bottom: 100px solid #fdd535;
    border-left: 100px solid transparent;
    bottom: 0;
    height: 0;
    opacity: .95;
    position: absolute;
    right: 0;
    text-indent: -9999px;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    width: 0;
  }
  .content-item:hover .overlay {
    border-bottom: 800px solid #fdd535;
    border-left: 800px solid transparent;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  }
  .content-item .corner-overlay-content {
    bottom: 15px;
    color: #fff;
    position: absolute;
    right: 15px;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  }
  .content-item:hover .corner-overlay-content {
    opacity: 0;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  }
  .content-item .overlay-content {
    bottom: 0;
    color: #fff;
    left: 0;
    opacity: 0;
    padding: 30px;
    position: absolute;
    right: 0;
    top: 0;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .content-item .overlay-content h2 {
    border-bottom: 1px solid #333;
    padding: 0 0 12px;
  }
  .content-item:hover .overlay-content {
    opacity: 1;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    -moz-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  
  /* #carousel {
    width: 480px;
    overflow:hidden;
    background-image: url(../img/banner/min/banner-img-homepage.jpg);
  }
  
  #carousel ul {
    width: 1920px;
    padding: 0;
    margin: 0;
    background-image: url(../img/banner/min/banner-img-homepage-2.jpg);
  }
  
  #carousel ul li {
    text-align: center;
    height: 280px;
    list-style: none;
    float:	left;
  } */
  .navbar {
    display: flex;
  }
  #personal-ln-page .header-banner {
      height: 100vh;
      /* background-image: url("../img/banner/min/banner-img-pers.jpg"); */
      background-position: center;
  }
  #home-pg .header-banner {
      height: 100vh;
      background-image: url("../img/banner-img-homepage.jpg");
      background-position: center;
  }
  #homeloan-pg .header-banner {
      height: 100vh;
      /* background-image: url("../img/banner/min/banner-img-homeloan.jpg"); */
      background-position: center;
  }
  #smeloan-pg .header-banner {
      height: 100vh;
      /* background-image: url("../img/banner/min/banner-img-SME.jpg"); */
      background-position: center;
  }
  #eduloan-pg .header-banner {
      height: 100vh;
      /* background-image: url("../img/banner/min/banner-img-edu.jpg"); */
      background-position: center;
  }
  /*.prod-pgs section {padding-bottom: 100px;padding-top: 100px;}*/
  .loanrow2 {margin-top: 30px;}
  /*.pers-pg {height: 100vh;}*/
  /*
  .header-banner {
      height: 670px;
  }
  
  
  .price-btn a.apply-link-text {
      color: #fff;
  }
  */
  .apply-link-text:hover {
      color: white;
  }
  
  .hidden {
     display: none;
  }